.logo{
  margin-left: 150px;
}

.content{
  margin-right: 30px;
}

.signup{
  border-radius: 20%;
  background-color: rgb(101, 107, 209);
}

.nav-item{
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

